#buttons{

}

.bttn{
	font-size: 30px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px 30px;
	border-radius: 7px;
	width: 250px;
	height: 65px;
	text-align: center;
	margin-bottom: 5px;
}

.bttn-01{
	background-color: #3B5998;
	color:white;
	opacity: 0.8;
}

.bttn-01:hover{
	background-color: #3B5998;
	opacity: 1;
	color:white;
}


.bttn-02{
	background-color: #FAFAFA;
	color:#535353;
	border:2px solid #535353;
	opacity: 0.8;
}

.bttn-02:hover{
	background-color: #FAFAFA;
	color:#535353;
	border:2px solid #535353;
		opacity: 1;
}

