#header{
	text-align: center;
	height: 25em;
	padding: 50px;
	background-image: url("../images/backgroundHeaderBW.jpg");
	background-size:cover;
	color:#CCC; 
	text-shadow: 2px 2px 3px #999;
	margin: 0 -250px 0px -250px; 
}

#header h1{
	font-size: 100px;
}

#header h4{
	font-size: 40px;
	border:none;
}

/* Ajouter un filtre linéair par dessus */